html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-y: scroll;
    font-size: 14px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
